<a href="https://colab.research.google.com/github/DanielvrAlves/primeiro_arquivo/blob/main/Arquivo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titulo
A partir do `momento` que eu *vou* **editando**

## Começar um novo texto

In [ ]:
import math

In [ ]:
print('Olá, mundo!') #função imprimir

Olá, mundo!

In [ ]:
print ('meu nome é' ,3,'Daniel')

meu nome é 3 Daniel

In [ ]:
lanche = 'x-burger'
preço = 10.90
qtd = 2

AttributeError: ignored

In [ ]:
lanche = 10.90
batata = 5.9
refri = 3
pgto = 'cartão'

In [ ]:
conta = lanche + batata + refri
print (conta)

19.8

In [ ]:
print('Voce pediu um lanche de : R$', lanche , 'e uma batata de : R$' , batata , 'totalizando : R$' , lanche + batata, '. O seu pagamento será em',pgto)

Voce pediu um lanche de : R$ 10.9 e uma batata de : R$ 5.9 totalizando : R$ 16.8 . O seu pagamento será em cartão

In [ ]:
lanche = input ('Qual lanche você quer:')
print ('Voce quer um :' , lanche)

Qual lanche você quer:pão
Voce quer um : pão

In [ ]:
type(lanche)
#type(5)
#type(7.2)

str

In [ ]:
tipo de dados

In [ ]:
type(int('034'))

int

In [ ]:
a=1
b=7
print('a dividido por b é {}'.format(a/b))
print('a dividido por b é {0:.5f}'.format(a/b,b/a))
print('a dividido por b é {1:.5f}'.format(a/b,b/a))

c=245
d=2898776655000.8358959999

print('[{0:10d}] e [{1:10.4f}]'.format(c,d))

a dividido por b é 0.14285714285714285
a dividido por b é 0.14286
a dividido por b é 7.00000
[       245] e [2898776655000.8359]

In [13]:
comida=input('O que deseja comer: ')
print(type(comida=='lanche'))
if comida=='lanche': 
  print('ir ao méqui')
  print('comer lanche')
else:
  print('ir a pizzaria')
  print('comer a pizza')
print('fome satisfeita')

O que deseja comer: lanche
<class 'bool'>
ir ao méqui
comer lanche
fome satisfeita

In [3]:
saldo=input('Digite a quantidade de dinheiro que você tem:')
transporte=input('Digite o valor do transporte: ')
lanche=input('Digite o valor do lanche: ')
saldo=float(saldo)
transporte=float(transporte)
lanche=float(lanche)

if lanche+transporte<=saldo:
  print('comer o lanche')
  print('voltar pra casa')
  saldo=saldo-transporte-lanche
  print('o saldo restante é: ', saldo)
  print('matou a fome')
elif transporte<= saldo:
  print('voltar pra casa')
  saldo=saldo-transporte
  print('o saldo restante é: ', saldo)
  print('não matou a fome')
else:
  print('dormir na rua')
  saldo=saldo
  print('o saldo restante é: ', saldo)
  print('não matou a fome')

Digite a quantidade de dinheiro que você tem:30
Digite o valor do transporte: 10
Digite o valor do lanche: 5
comer o lanche
voltar pra casa
o saldo restante é:  15.0
matou a fome

In [27]:
tupla = ('Lanche','Batata','Refri')
tupla[0]
type(tupla)
print(tupla[2])
#tupla[1]='Milk Shake' - Erro

tupla2=('Lanche',2,True,8.2)
print(type(tupla2))
print(type(tupla2[0]))
print(type(tupla2[1]))
print(type(tupla2[2]))
print(type(tupla2[3]))
print('Tamanho da tupla = {} '.format(len(tupla2)))

tupla3=(3,2,1,8)
print('A ordenação da tupla3 é = {}'.format((tupla3)))

print('A ordenação da tupla3 ordenada é = {}'.format(sorted(tupla3))) #Resultado sai em lista

t2=(1,3,3,5,3,5,7)

t2.count(3) # conta quantos numeros 3 tem nessa tupla

t2.index(7) # me diz o termo do valor 7 da tupla, lembrando que é 0,1,2,3

t2.index(3,0) # me diz o termo do valor 7 da tupla, lembrando que é 0,1,2,3. Alem disso ele retorna a posição do primeiro valor 3 encontrado

Refri
<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'float'>
Tamanho da tupla = 4
A ordenação da tupla3 é = (3, 2, 1, 8)
A ordenação da tupla3 ordenada é = [1, 2, 3, 8]

1

In [11]:
tupla=(2,6,4,5,7)
print(tupla[0:2])
print(tupla[1:4])
print(tupla[1:])
print(tupla[:3])
print(tupla[-1])

(2, 6)
(6, 4, 5)
(6, 4, 5, 7)
(2, 6, 4)
7

In [30]:
t2 = ('Lanche', 'Batata' , 'Refri')

for i in t2:
  input('Voce quer um {}'.format(i))
print(i)

Voce quer um Lanches
Voce quer um Batatas
Voce quer um Refris
Refri

In [36]:
t2=(2,6,4,5,7)
soma=0
count=0

for i in t2:
  soma=i+soma
  count=count+1
  print('A {} soma é {}'.format(count,soma))

A 1 soma é 2
A 2 soma é 8
A 3 soma é 12
A 4 soma é 17
A 5 soma é 24

In [37]:
t2=('Lanche','Batata','Refri')

for ind,valor in enumerate(t2):
  print('O item {} é um(a) {} '.format(ind,valor))
print('fim')

O item 0 é um(a) Lanche
O item 1 é um(a) Batata
O item 2 é um(a) Refri
fim

In [13]:
l1=[2,6,4,5,7]
print(l1)
l1[2]=3
print(l1)
l1[0:2]=[0,1]
print(l1)
l1.append(7)
print(l1)
l1.insert(3,4)
print(l1)

del l1[3]
print(l1)

var=l1.pop(2)
print(l1,var)

l1.remove(7)

print(l1)

l1 = [0, 1, 3, 5, 7, 7]

if 7 in l1:
  while 7 in l1:
    l1.remove(7)
print(l1)    

l1.sort(reverse = True)

print(l1)

[2, 6, 4, 5, 7]
[2, 6, 3, 5, 7]
[0, 1, 3, 5, 7]
[0, 1, 3, 5, 7, 7]
[0, 1, 3, 4, 5, 7, 7]
[0, 1, 3, 5, 7, 7]
[0, 1, 5, 7, 7] 3
[0, 1, 5, 7]
[0, 1, 3, 5]
[5, 3, 1, 0]

In [20]:
l1=[0,2,6,4,8,1,3]
l2=[3,2,1,7,8,2,5]
l3=[]



for i,valor in enumerate(l1):
  l3.append(l1[i]+l2[i])
 # print(l3) 
  
  
print(l1)
print(l2)
print(l3)

[3]
[3, 4]
[3, 4, 7]
[3, 4, 7, 11]
[3, 4, 7, 11, 16]
[3, 4, 7, 11, 16, 3]
[3, 4, 7, 11, 16, 3, 8]
[0, 2, 6, 4, 8, 1, 3]
[3, 2, 1, 7, 8, 2, 5]
[3, 4, 7, 11, 16, 3, 8]

In [21]:
l1=[0,2,6,4,8,1,3]
l2=[3,2,1,7,8]
l3=[]

for v1, v2 in zip(l1,l2):
  print(f'v1={v1} e v2 = {v2}')
  l3.append(v1+v2)
print(l3)

v1=0 e v2 = 3
v1=2 e v2 = 2
v1=6 e v2 = 1
v1=4 e v2 = 7
v1=8 e v2 = 8
[3, 4, 7, 11, 16]

In [3]:
tupla=(1,4,6,7)
lista=[1,3,4,5,6]

for i,v in enumerate(tupla):
  print(i,v)

for v1,v2 in zip(tupla,lista):
  print(v1,'+',v2,'=',v1+v2)

0 1
1 4
2 6
3 7
1 + 1 = 2
4 + 3 = 7
6 + 4 = 10
7 + 5 = 12

In [6]:
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8, 2, 5]
l3 = []
for i,v  in enumerate(l1):
 l3.append(l1[i] + l2[i])
print(l3)

[3, 4, 7, 11, 16, 3, 8]

In [9]:
lanche=['Lanche',10.9]
batata=['Batata',5.5]
refri=['Refri',3.9]

cardapio=[lanche,batata,refri]

print(cardapio)

[['Lanche', 10.9], ['Batata', 5.5], ['Refri', 3.9]]

In [17]:
dicio ={'nome':'Everton',
        'idade': 29,
        'cidade':'São Jose'}

print(dicio['nome'])

dicio['nome']='Thiago'

print(dicio['nome'])

print(dicio)

print(dicio.values())
print(dicio.keys())
print(dicio.items())

del dicio['cidade']

print(dicio)

for v in dicio.values():
  print('Values = {}'.format(v))
for k in dicio.keys():
  print('Keys = {}'.format(k))

for k, v in dicio.items():
  print('Keys = {} e Values = {}'.format(k,v))

Everton
Thiago
{'nome': 'Thiago', 'idade': 29, 'cidade': 'São Jose'}
dict_values(['Thiago', 29, 'São Jose'])
dict_keys(['nome', 'idade', 'cidade'])
dict_items([('nome', 'Thiago'), ('idade', 29), ('cidade', 'São Jose')])
{'nome': 'Thiago', 'idade': 29}
Values = Thiago
Values = 29
Keys = nome
Keys = idade
Keys = nome e Values = Thiago
Keys = idade e Values = 29

In [4]:
def funcao():
  print('Olá mundo')

funcao() 
funcao() 
funcao()

Olá mundo
Olá mundo
Olá mundo

In [5]:
def soma(a,b):
  print(a+b)

soma(1,2)
soma(0,6)

3
6

In [12]:
s=0
def soma(a=0,b=10):
  """
  ola somo numeros
  """
  print(a+b)
  s=a+b
  return s

soma(4)
soma(1,7)
print(s)

help(soma)

14
8
0
Help on function soma in module __main__:

soma(a=0, b=10)
    ola somo numeros

In [23]:
area = [200,'null',720,1500,1000,275,'null',1200,2400,'null'] 
altura = ['null',30,40,30,10,25,33,'null',12,20] 
largura = [20,20,'null',50,100,'null',30,100,200,10]

print(area)
print(altura)
print(largura[2])

print(len(area))
print(len(altura))
print(len(largura))


for i in (0,9,1):
  if area[i]=='null':
    area[i]=float(altura[i]*largura[i])
  if altura[i]=='null':
    altura[i]=float(area[i]/largura[i])
  if largura[i]=='null':
    largura[i]=float(area[i]/altura[i])

print(area)
print(altura)
print(largura)

[200, 'null', 720, 1500, 1000, 275, 'null', 1200, 2400, 'null']
['null', 30, 40, 30, 10, 25, 33, 'null', 12, 20]
null
10
10
10
[200, 600.0, 720, 1500, 1000, 275, 'null', 1200, 2400, 200.0]
[10.0, 30, 40, 30, 10, 25, 33, 'null', 12, 20]
[20, 20, 'null', 50, 100, 'null', 30, 100, 200, 10]

In [26]:
def imprime():
  print('ola')
  print('')
  print("ola")

imprime()

ola

ola

In [32]:
cidade = 'São Jose dos campos'
estado = 'São Paulo'
pais = 'Brasil'

#print('Nasci em' , cidade ,'uma cidade do interior do estado de ',estado,'que pertence a regiao sudeste do',pais)
#print('Nasci em {} uma cidade do interior do estado de {} que pertence a regiao sudeste do {}'.format(cidade,estado,pais))
print('Nasci em' + cidade +'uma cidade do interior do estado de '+estado+'que pertence a regiao sudeste do'+pais)

Nasci emSão Jose dos camposuma cidade do interior do estado de São Pauloque pertence a regiao sudeste doBrasil

In [33]:
a=59;
b=7;

print('O resultado da divisao de {} por {} resulta em {:6.4f} e o resto da divisão é {}'.format(a,b,a/b,a%b))

O resultado da divisao de 59 por 7 resulta em 8.4286 e o resto da divisão é 3

In [35]:
preco_peca=float(input('x'))
saldo=float(input('y'))

if preco_peca<=saldo:
  print('compre {}'.format(saldo-preco_peca))
else:
  print('nao compre {}'.format(preco_peca-saldo))

x5
y5
compre 0.0

In [36]:
l1=[1,5,12,14,15,20]
l2=[2,3,7,10,11]
l3=l2[:]
l4=l2
l4.pop()
l5=[]

for v1,v2 in zip (l1,l2):
  l5.append(v1+v2)
  print(f'vi={v1};v2={v2}')

print(l5)

vi=1;v2=2
vi=5;v2=3
vi=12;v2=7
vi=14;v2=10
[3, 8, 19, 24]

In [38]:
print('{:.2f}'.format(3.1415))

3.14

In [42]:
i=0
a=0

while a>-1:
  print(a)
  print(i)
  a=int(input('digite um numero:'))
  if i<10:
    if a==-1:
      break
    else:
      i=i+1
  else:
    break

0
0
digite um numero:5
5
1
digite um numero:2
2
2
digite um numero:6
6
3
digite um numero:2
2
4
digite um numero:2
2
5
digite um numero:2
2
6
digite um numero:3
3
7
digite um numero:2
2
8
digite um numero:3
3
9
digite um numero:2
2
10
digite um numero:3

In [46]:
a=[0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1]
print(len(a))

while a.count(0)>0:
  a.remove(0)

print(len(a))

248
115

In [1]:
altura = 1.75 
peso = 79.2 
IMC = peso/altura**2 
print('{:.2f}'.format(IMC))

25.86

In [2]:
Lista1 = [1,2,3,4,5] 
Lista2 = [1,2,3,4,5] 
Lista3 = Lista1 + Lista2 
print(Lista3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [5]:
a =['dnc','abc','bnc','mnc','dnc','bnc','Dnc','ncd','dnc','dncdnc','ddnc']
print(a[5])

bnc

In [6]:
a = '10' 
b = '3' 
c = int(a)%int(b) 
print(c)

1

In [8]:
lista = [13,2,19,11,7,9,19,16,17,7,7,10,1,6,'dnc',18,2,11,2,9,10] 
X=0 
i=0 
while True: 
  if lista[i] == 'dnc': 
    break 
  if lista[i]%2 == 1: 
    X += lista[i] 
  i += 1 
  print(X)

13
13
32
43
50
59
78
78
95
102
109
109
110
110

In [13]:
def contador_x (lista1,lista2,x): 
  contador=0 
  for a,b in zip(lista1,lista2): 
    if a =='x' and b=='x': 
      break 
    else: 
      contador+=1 
  return contador

a =['dnc','abc','bnc','mnc','dnc','bnc','Dnc','ncd','dnc','dncdnc','ddnc'] 
b =['dnc','abc','bnc','mnc','dnc','bnc','Dnc','ncd','dnc','dncdnc','ddnc','xms','cds','dn','cdn','dnc','xml','a'] 
y = contador_x(a,b,'dnc')

print(y)

11

In [14]:
def Z (lista1,lista2,x):
  z=0 
  for a in lista1: 
    if a ==x: 
      z+=1 
  for b in lista2: 
    if b==x: z+=1 
  return z 

a =['dnc','abc','bnc','mnc','dnc','bnc','Dnc','ncd','dnc','dncdnc','ddnc'] 
b = ['dnc','abc','bnc','mnc','dnc','bnc','Dnc','ncd','dnc','dncdnc','ddnc','xms','cds','dn','cdn','dnc','xml','a'] 
y = Z(a,b,'dnc') 
print(y)

7

In [15]:
lista = [77,80,90,23,44,15,11,25,68,14,22,99]
X = sorted(lista) 
print(X)

[11, 14, 15, 22, 23, 25, 44, 68, 77, 80, 90, 99]

In [16]:
lista = [77,80,90,23,44,15,11,25,68,14,22,99] 
X = list(lista) 
print(X)

[77, 80, 90, 23, 44, 15, 11, 25, 68, 14, 22, 99]

In [17]:
lista = [77,80,90,23,44,15,11,25,68,14,22,99] 
X = set(lista) 
print(X)

{99, 68, 11, 44, 77, 14, 15, 80, 22, 23, 25, 90}

In [19]:
lista = [77,80,90,23,44,15,11,25,68,14,22,99] 
X = dict(lista)
print(X)

TypeError: ignored

In [20]:
dicionario={'pessoa_1':{'nome':'Peterson','sobrenome':'Almeida'}, 'pessoa_2':{'nome':'Maria','sobrenome':'Silva'}, 'pessoa_3':{'nome':'Jose','sobrenome':'Santos'}} 
nome_completo=[] 
for a,b in dicionario.items(): 
  nome_completo.append(str(b['nome'])'+'str(b['sobrenome']))
print(nome_completo)

SyntaxError: ignored